body[data-theme='lightTheme'] {
    --primary-color: #FFFFFF;
    --secondary-color: #F7D157;
    --tertiary-color: #252525;
    --text-color: rgb(255, 255, 255);
    --subtext-color: #ffffff;
    --background-color: #041F35;
    --card-background-color: #041F35;
    --scroll-bar-color: rgba(255, 255, 255, 0.5);
    --box-shadow-color: rgba(0, 0, 0, 0.16);
    --box-shadow-hover-color: rgba(0, 0, 0, 0.32);
    --base-font: 'Roboto', Arial, sans-serif;
}

body[data-theme='darkTheme'] {
    --primary-color: #FFFFFF;
    --secondary-color: #F7D157;
    --tertiary-color: #252525;
    --text-color: rgb(255, 255, 255);
    --subtext-color: #ffffff;
    --background-color: #041F35;
    --card-background-color: #041F35;
    --scroll-bar-color: rgba(255, 255, 255, 0.5);
    --box-shadow-color: rgba(0, 0, 0, 0.16);
    --box-shadow-hover-color: rgba(0, 0, 0, 0.32);
    --base-font: 'Roboto', Arial, sans-serif;
}
