.Interests {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 992px) {
    .Interests {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
}

.Interest {
    width: 17.5rem;
    height: 3rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    margin: 10px;
    border: 0.125rem solid var(--primary-color);
    border-radius: var(--border-radius);
    background: var(--card-background-color);
}

.Interests button {
    max-width: 17.5rem;
}

.Interest .Icon {
    margin-right: 0.5rem;
}

@media (min-width: 600px) {
    .Interests {
        grid-template-columns: repeat(2, 15.625rem);
    }
    .Interest {
        width: 15.625rem;
    }
    .Interests button {
        max-width: 15.625rem;
    }
}

@media (min-width: 880px) {
    .Interests {
        grid-template-columns: repeat(3, 15.625rem);
    }
}
