.About {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.About .Description {
    width: 100%;
    max-width: 31.25rem;
    margin-bottom: 3rem;
}

.About .ImageWrapper {
    width: 100%;
    max-width: 18rem;
}

@media (min-width: 768px) {
    .About {
        flex-direction: row;
        justify-content: space-between;
    }
    .About .Description {
        margin-bottom: 0;
        margin-right: 3rem;
    }
    .About .ImageWrapper {
        margin-top: -2rem;
    }
}
